In [13]:
import pandas as pd

df = pd.read_csv('customer_shopping_behavior.csv')

In [14]:
df.head()

,Customer ID,Age,Gender,Item Purchased,Category,Purchase Amount (USD),Location,Size,Color,Season,Review Rating,Subscription Status,Shipping Type,Discount Applied,Promo Code Used,Previous Purchases,Payment Method,Frequency of Purchases
0,1,55,Male,Blouse,Clothing,53,Kentucky,L,Gray,Winter,3.1,Yes,Express,Yes,Yes,14,Venmo,Fortnightly
1,2,19,Male,Sweater,Clothing,64,Maine,L,Maroon,Winter,3.1,Yes,Express,Yes,Yes,2,Cash,Fortnightly
2,3,50,Male,Jeans,Clothing,73,Massachusetts,S,Maroon,Spring,3.1,Yes,Free Shipping,Yes,Yes,23,Credit Card,Weekly
3,4,21,Male,Sandals,Footwear,90,Rhode Island,M,Maroon,Spring,3.5,Yes,Next Day Air,Yes,Yes,49,PayPal,Weekly
4,5,45,Male,Blouse,Clothing,49,Oregon,M,Turquoise,Spring,2.7,Yes,Free Shipping,Yes,Yes,31,PayPal,Annually

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3900 entries, 0 to 3899
Data columns (total 18 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Customer ID             3900 non-null   int64
 1   Age                     3900 non-null   int64
 2   Gender                  3900 non-null   object
 3   Item Purchased          3900 non-null   object
 4   Category                3900 non-null   object
 5   Purchase Amount (USD)   3900 non-null   int64
 6   Location                3900 non-null   object
 7   Size                    3900 non-null   object
 8   Color                   3900 non-null   object
 9   Season                  3900 non-null   object
 10  Review Rating           3863 non-null   float64
 11  Subscription Status     3900 non-null   object
 12  Shipping Type           3900 non-null   object
 13  Discount Applied        3900 non-null   object
 14  Promo Code Used         3900 non-null   object
 15  Previous Purchases      3900 non-null   int64
 16  Payment Method          3900 non-null   object
 17  Frequency of Purchases  3900 non-null   object
dtypes: float64(1), int64(4), object(13)
memory usage: 548.6+ KB

In [20]:
df.describe(include='all')

,Customer ID,Age,Gender,Item Purchased,Category,Purchase Amount (USD),Location,Size,Color,Season,Review Rating,Subscription Status,Shipping Type,Discount Applied,Promo Code Used,Previous Purchases,Payment Method,Frequency of Purchases
count,3900.000000,3900.000000,3900,3900,3900,3900.000000,3900,3900,3900,3900,3863.000000,3900,3900,3900,3900,3900.000000,3900,3900
unique,NaN,NaN,2,25,4,NaN,50,4,25,4,NaN,2,6,2,2,NaN,6,7
top,NaN,NaN,Male,Blouse,Clothing,NaN,Montana,M,Olive,Spring,NaN,No,Free Shipping,No,No,NaN,PayPal,Every 3 Months
freq,NaN,NaN,2652,171,1737,NaN,96,1755,177,999,NaN,2847,675,2223,2223,NaN,677,584
mean,1950.500000,44.068462,NaN,NaN,NaN,59.764359,NaN,NaN,NaN,NaN,3.750065,NaN,NaN,NaN,NaN,25.351538,NaN,NaN
std,1125.977353,15.207589,NaN,NaN,NaN,23.685392,NaN,NaN,NaN,NaN,0.716983,NaN,NaN,NaN,NaN,14.447125,NaN,NaN
min,1.000000,18.000000,NaN,NaN,NaN,20.000000,NaN,NaN,NaN,NaN,2.500000,NaN,NaN,NaN,NaN,1.000000,NaN,NaN
25%,975.750000,31.000000,NaN,NaN,NaN,39.000000,NaN,NaN,NaN,NaN,3.100000,NaN,NaN,NaN,NaN,13.000000,NaN,NaN
50%,1950.500000,44.000000,NaN,NaN,NaN,60.000000,NaN,NaN,NaN,NaN,3.800000,NaN,NaN,NaN,NaN,25.000000,NaN,NaN
75%,2925.250000,57.000000,NaN,NaN,NaN,81.000000,NaN,NaN,NaN,NaN,4.400000,NaN,NaN,NaN,NaN,38.000000,NaN,NaN
max,3900.000000,70.000000,NaN,NaN,NaN,100.000000,NaN,NaN,NaN,NaN,5.000000,NaN,NaN,NaN,NaN,50.000000,NaN,NaN

In [23]:
df.isnull().sum()

Customer ID                0
Age                        0
Gender                     0
Item Purchased             0
Category                   0
Purchase Amount (USD)      0
Location                   0
Size                       0
Color                      0
Season                     0
Review Rating             37
Subscription Status        0
Shipping Type              0
Discount Applied           0
Promo Code Used            0
Previous Purchases         0
Payment Method             0
Frequency of Purchases     0
dtype: int64

In [24]:
df['Review Rating'] = df.groupby('Category')['Review Rating'].transform(lambda x: x.fillna(x.median())) #Review Rating is null

In [25]:
df.isnull().sum()

Customer ID               0
Age                       0
Gender                    0
Item Purchased            0
Category                  0
Purchase Amount (USD)     0
Location                  0
Size                      0
Color                     0
Season                    0
Review Rating             0
Subscription Status       0
Shipping Type             0
Discount Applied          0
Promo Code Used           0
Previous Purchases        0
Payment Method            0
Frequency of Purchases    0
dtype: int64

In [26]:
df.columns = df.columns.str.lower()
df.columns = df.columns.str.replace(' ','_')
df = df.rename(columns={'purchase_amount_(usd)':'purchase_amount'})

In [27]:
df.columns

Index(['customer_id', 'age', 'gender', 'item_purchased', 'category',
       'purchase_amount', 'location', 'size', 'color', 'season',
       'review_rating', 'subscription_status', 'shipping_type',
       'discount_applied', 'promo_code_used', 'previous_purchases',
       'payment_method', 'frequency_of_purchases'],
      dtype='object')

In [28]:
# create a new column age_group
labels = ['Young Adult', 'Adult', 'Middle-aged', 'Senior']
df['age_group'] = pd.qcut(df['age'], q=4, labels = labels)

In [29]:
df[['age','age_group']].head(10)

   age    age_group
0   55  Middle-aged
1   19  Young Adult
2   50  Middle-aged
3   21  Young Adult
4   45  Middle-aged
5   46  Middle-aged
6   63       Senior
7   27  Young Adult
8   26  Young Adult
9   57  Middle-aged

In [30]:
df[['discount_applied','promo_code_used']].head(10)

  discount_applied promo_code_used
0              Yes             Yes
1              Yes             Yes
2              Yes             Yes
3              Yes             Yes
4              Yes             Yes
5              Yes             Yes
6              Yes             Yes
7              Yes             Yes
8              Yes             Yes
9              Yes             Yes

In [31]:
(df['discount_applied'] == df['promo_code_used']).all()

np.True_

In [32]:
df = df.drop('promo_code_used', axis=1)

In [33]:
df.columns

Index(['customer_id', 'age', 'gender', 'item_purchased', 'category',
       'purchase_amount', 'location', 'size', 'color', 'season',
       'review_rating', 'subscription_status', 'shipping_type',
       'discount_applied', 'previous_purchases', 'payment_method',
       'frequency_of_purchases', 'age_group'],
      dtype='object')

In [35]:
cities = df['location'].dropna().unique()
cities

array(['Kentucky', 'Maine', 'Massachusetts', 'Rhode Island', 'Oregon',
       'Wyoming', 'Montana', 'Louisiana', 'West Virginia', 'Missouri',
       'Arkansas', 'Hawaii', 'Delaware', 'New Hampshire', 'New York',
       'Alabama', 'Mississippi', 'North Carolina', 'California',
       'Oklahoma', 'Florida', 'Texas', 'Nevada', 'Kansas', 'Colorado',
       'North Dakota', 'Illinois', 'Indiana', 'Arizona', 'Alaska',
       'Tennessee', 'Ohio', 'New Jersey', 'Maryland', 'Vermont',
       'New Mexico', 'South Carolina', 'Idaho', 'Pennsylvania',
       'Connecticut', 'Utah', 'Virginia', 'Georgia', 'Nebraska', 'Iowa',
       'South Dakota', 'Minnesota', 'Washington', 'Wisconsin', 'Michigan'],
      dtype=object)

In [37]:
import requests
import time

API_KEY = "your_key"
weather_data = {}

for city in cities:
    try:
        url = f"http://api.openweathermap.org/data/2.5/weather?q={city}&appid={API_KEY}&units=metric"
        response = requests.get(url).json()

        weather_data[city] = {
            "temperature": response['main']['temp'],
            "humidity": response['main']['humidity'],
            "weather_condition": response['weather'][0]['main']
        }

        time.sleep(1)   # avoid API rate limit

    except:
        weather_data[city] = {
            "temperature": None,
            "humidity": None,
            "weather_condition": None
        }

In [41]:
df['Temperature'] = df['location'].map(lambda x: weather_data.get(x, {}).get('temperature'))
df['Humidity'] = df['location'].map(lambda x: weather_data.get(x, {}).get('humidity'))
df['Weather'] = df['location'].map(lambda x: weather_data.get(x, {}).get('weather_condition'))

In [42]:
df.columns

Index(['customer_id', 'age', 'gender', 'item_purchased', 'category',
       'purchase_amount', 'location', 'size', 'color', 'season',
       'review_rating', 'subscription_status', 'shipping_type',
       'discount_applied', 'previous_purchases', 'payment_method',
       'frequency_of_purchases', 'age_group', 'Temperature', 'Humidity',
       'Weather'],
      dtype='object')

In [43]:
df.head(10)

,customer_id,age,gender,item_purchased,category,purchase_amount,location,size,color,season,...,subscription_status,shipping_type,discount_applied,previous_purchases,payment_method,frequency_of_purchases,age_group,Temperature,Humidity,Weather
0,1,55,Male,Blouse,Clothing,53,Kentucky,L,Gray,Winter,...,Yes,Express,Yes,14,Venmo,Fortnightly,Middle-aged,None,None,None
1,2,19,Male,Sweater,Clothing,64,Maine,L,Maroon,Winter,...,Yes,Express,Yes,2,Cash,Fortnightly,Young Adult,None,None,None
2,3,50,Male,Jeans,Clothing,73,Massachusetts,S,Maroon,Spring,...,Yes,Free Shipping,Yes,23,Credit Card,Weekly,Middle-aged,None,None,None
3,4,21,Male,Sandals,Footwear,90,Rhode Island,M,Maroon,Spring,...,Yes,Next Day Air,Yes,49,PayPal,Weekly,Young Adult,None,None,None
4,5,45,Male,Blouse,Clothing,49,Oregon,M,Turquoise,Spring,...,Yes,Free Shipping,Yes,31,PayPal,Annually,Middle-aged,None,None,None
5,6,46,Male,Sneakers,Footwear,20,Wyoming,M,White,Summer,...,Yes,Standard,Yes,14,Venmo,Weekly,Middle-aged,None,None,None
6,7,63,Male,Shirt,Clothing,85,Montana,M,Gray,Fall,...,Yes,Free Shipping,Yes,49,Cash,Quarterly,Senior,None,None,None
7,8,27,Male,Shorts,Clothing,34,Louisiana,L,Charcoal,Winter,...,Yes,Free Shipping,Yes,19,Credit Card,Weekly,Young Adult,None,None,None
8,9,26,Male,Coat,Outerwear,97,West Virginia,L,Silver,Summer,...,Yes,Express,Yes,8,Venmo,Annually,Young Adult,None,None,None
9,10,57,Male,Handbag,Accessories,31,Missouri,M,Pink,Spring,...,Yes,2-Day Shipping,Yes,4,Cash,Quarterly,Middle-aged,None,None,None

In [44]:
print(response)

{'cod': 401, 'message': 'Invalid API key. Please see https://openweathermap.org/faq#error401 for more info.'}

In [45]:
df['location'].unique()

array(['Kentucky', 'Maine', 'Massachusetts', 'Rhode Island', 'Oregon',
       'Wyoming', 'Montana', 'Louisiana', 'West Virginia', 'Missouri',
       'Arkansas', 'Hawaii', 'Delaware', 'New Hampshire', 'New York',
       'Alabama', 'Mississippi', 'North Carolina', 'California',
       'Oklahoma', 'Florida', 'Texas', 'Nevada', 'Kansas', 'Colorado',
       'North Dakota', 'Illinois', 'Indiana', 'Arizona', 'Alaska',
       'Tennessee', 'Ohio', 'New Jersey', 'Maryland', 'Vermont',
       'New Mexico', 'South Carolina', 'Idaho', 'Pennsylvania',
       'Connecticut', 'Utah', 'Virginia', 'Georgia', 'Nebraska', 'Iowa',
       'South Dakota', 'Minnesota', 'Washington', 'Wisconsin', 'Michigan'],
      dtype=object)

In [46]:
import requests

API_KEY = "48e3ef6961aba5523394ff60"

url = f"https://v6.exchangerate-api.com/v6/{API_KEY}/latest/USD"

response = requests.get(url).json()

print(response)  # Debug to see what you get

{'result': 'success', 'documentation': 'https://www.exchangerate-api.com/docs', 'terms_of_use': 'https://www.exchangerate-api.com/terms', 'time_last_update_unix': 1764892801, 'time_last_update_utc': 'Fri, 05 Dec 2025 00:00:01 +0000', 'time_next_update_unix': 1764979201, 'time_next_update_utc': 'Sat, 06 Dec 2025 00:00:01 +0000', 'base_code': 'USD', 'conversion_rates': {'USD': 1, 'AED': 3.6725, 'AFN': 66.2785, 'ALL': 82.8816, 'AMD': 381.2773, 'ANG': 1.79, 'AOA': 923.6187, 'ARS': 1449.33, 'AUD': 1.513, 'AWG': 1.79, 'AZN': 1.7008, 'BAM': 1.6782, 'BBD': 2.0, 'BDT': 122.3356, 'BGN': 1.678, 'BHD': 0.376, 'BIF': 2963.8225, 'BMD': 1.0, 'BND': 1.2958, 'BOB': 6.924, 'BRL': 5.3083, 'BSD': 1.0, 'BTN': 89.908, 'BWP': 13.7478, 'BYN': 2.912, 'BZD': 2.0, 'CAD': 1.3956, 'CDF': 2251.5844, 'CHF': 0.8026, 'CLF': 0.02327, 'CLP': 919.9231, 'CNH': 7.0708, 'CNY': 7.0786, 'COP': 3782.063, 'CRC': 492.2288, 'CUP': 24.0, 'CVE': 94.6138, 'CZK': 20.7468, 'DJF': 177.721, 'DKK': 6.4016, 'DOP': 63.4501, 'DZD': 130.1441, 'EGP': 47.5652, 'ERN': 15.0, 'ETB': 153.3614, 'EUR': 0.8581, 'FJD': 2.2657, 'FKP': 0.7499, 'FOK': 6.4012, 'GBP': 0.7499, 'GEL': 2.7004, 'GGP': 0.7499, 'GHS': 11.545, 'GIP': 0.7499, 'GMD': 74.2023, 'GNF': 8705.5405, 'GTQ': 7.6646, 'GYD': 209.2381, 'HKD': 7.7827, 'HNL': 26.3498, 'HRK': 6.465, 'HTG': 130.8491, 'HUF': 328.0368, 'IDR': 16645.9004, 'ILS': 3.2366, 'IMP': 0.7499, 'INR': 89.9074, 'IQD': 1311.2032, 'IRR': 42427.5176, 'ISK': 127.7457, 'JEP': 0.7499, 'JMD': 160.4192, 'JOD': 0.709, 'JPY': 154.9932, 'KES': 129.3687, 'KGS': 87.387, 'KHR': 4015.7903, 'KID': 1.513, 'KMF': 422.1372, 'KRW': 1472.1877, 'KWD': 0.3068, 'KYD': 0.8333, 'KZT': 502.2093, 'LAK': 21768.5474, 'LBP': 89500.0, 'LKR': 308.8226, 'LRD': 177.2346, 'LSL': 16.9815, 'LYD': 5.4445, 'MAD': 9.229, 'MDL': 16.9821, 'MGA': 4463.0556, 'MKD': 52.8912, 'MMK': 2103.5804, 'MNT': 3521.9433, 'MOP': 8.0168, 'MRU': 40.042, 'MUR': 46.0428, 'MVR': 15.4416, 'MWK': 1742.2654, 'MXN': 18.2451, 'MYR': 4.1119, 'MZN': 63.6966, 'NAD': 16.9815, 'NGN': 1447.4425, 'NIO': 36.8145, 'NOK': 10.107, 'NPR': 143.8529, 'NZD': 1.7352, 'OMR': 0.3845, 'PAB': 1.0, 'PEN': 3.3623, 'PGK': 4.2504, 'PHP': 59.0938, 'PKR': 282.4782, 'PLN': 3.6319, 'PYG': 6965.8796, 'QAR': 3.64, 'RON': 4.3665, 'RSD': 100.6918, 'RUB': 77.1559, 'RWF': 1458.584, 'SAR': 3.75, 'SBD': 8.1304, 'SCR': 13.888, 'SDG': 511.8269, 'SEK': 9.4146, 'SGD': 1.2959, 'SHP': 0.7499, 'SLE': 22.9628, 'SLL': 22962.8243, 'SOS': 570.4134, 'SRD': 38.5106, 'SSP': 4668.9886, 'STN': 21.0224, 'SYP': 11021.9282, 'SZL': 16.9815, 'THB': 32.0216, 'TJS': 9.2628, 'TMT': 3.5002, 'TND': 2.939, 'TOP': 2.4171, 'TRY': 42.5126, 'TTD': 6.7496, 'TVD': 1.513, 'TWD': 31.3503, 'TZS': 2417.9126, 'UAH': 42.2234, 'UGX': 3540.7492, 'UYU': 39.2381, 'UZS': 11899.2973, 'VES': 254.8705, 'VND': 26296.6245, 'VUV': 122.1444, 'WST': 2.7669, 'XAF': 562.8496, 'XCD': 2.7, 'XCG': 1.79, 'XDR': 0.7302, 'XOF': 562.8496, 'XPF': 102.3939, 'YER': 238.5607, 'ZAR': 16.9817, 'ZMW': 23.0296, 'ZWG': 26.1592, 'ZWL': 26.1592}}

In [48]:
rates = response['conversion_rates']

df['Purchase_EUR'] = df['purchase_amount'] * rates['EUR']
df['Purchase_INR'] = df['purchase_amount'] * rates['INR']
df['Purchase_GBP'] = df['purchase_amount'] * rates['GBP']

In [49]:
df.head(10)

,customer_id,age,gender,item_purchased,category,purchase_amount,location,size,color,season,...,previous_purchases,payment_method,frequency_of_purchases,age_group,Temperature,Humidity,Weather,Purchase_EUR,Purchase_INR,Purchase_GBP
0,1,55,Male,Blouse,Clothing,53,Kentucky,L,Gray,Winter,...,14,Venmo,Fortnightly,Middle-aged,None,None,None,45.4793,4765.0922,39.7447
1,2,19,Male,Sweater,Clothing,64,Maine,L,Maroon,Winter,...,2,Cash,Fortnightly,Young Adult,None,None,None,54.9184,5754.0736,47.9936
2,3,50,Male,Jeans,Clothing,73,Massachusetts,S,Maroon,Spring,...,23,Credit Card,Weekly,Middle-aged,None,None,None,62.6413,6563.2402,54.7427
3,4,21,Male,Sandals,Footwear,90,Rhode Island,M,Maroon,Spring,...,49,PayPal,Weekly,Young Adult,None,None,None,77.2290,8091.6660,67.4910
4,5,45,Male,Blouse,Clothing,49,Oregon,M,Turquoise,Spring,...,31,PayPal,Annually,Middle-aged,None,None,None,42.0469,4405.4626,36.7451
5,6,46,Male,Sneakers,Footwear,20,Wyoming,M,White,Summer,...,14,Venmo,Weekly,Middle-aged,None,None,None,17.1620,1798.1480,14.9980
6,7,63,Male,Shirt,Clothing,85,Montana,M,Gray,Fall,...,49,Cash,Quarterly,Senior,None,None,None,72.9385,7642.1290,63.7415
7,8,27,Male,Shorts,Clothing,34,Louisiana,L,Charcoal,Winter,...,19,Credit Card,Weekly,Young Adult,None,None,None,29.1754,3056.8516,25.4966
8,9,26,Male,Coat,Outerwear,97,West Virginia,L,Silver,Summer,...,8,Venmo,Annually,Young Adult,None,None,None,83.2357,8721.0178,72.7403
9,10,57,Male,Handbag,Accessories,31,Missouri,M,Pink,Spring,...,4,Cash,Quarterly,Middle-aged,None,None,None,26.6011,2787.1294,23.2469

In [51]:
df = df.drop('Temperature', axis=1)
df = df.drop('Humidity', axis=1)
df = df.drop('Weather', axis=1)

In [52]:
df.head(10)

,customer_id,age,gender,item_purchased,category,purchase_amount,location,size,color,season,...,subscription_status,shipping_type,discount_applied,previous_purchases,payment_method,frequency_of_purchases,age_group,Purchase_EUR,Purchase_INR,Purchase_GBP
0,1,55,Male,Blouse,Clothing,53,Kentucky,L,Gray,Winter,...,Yes,Express,Yes,14,Venmo,Fortnightly,Middle-aged,45.4793,4765.0922,39.7447
1,2,19,Male,Sweater,Clothing,64,Maine,L,Maroon,Winter,...,Yes,Express,Yes,2,Cash,Fortnightly,Young Adult,54.9184,5754.0736,47.9936
2,3,50,Male,Jeans,Clothing,73,Massachusetts,S,Maroon,Spring,...,Yes,Free Shipping,Yes,23,Credit Card,Weekly,Middle-aged,62.6413,6563.2402,54.7427
3,4,21,Male,Sandals,Footwear,90,Rhode Island,M,Maroon,Spring,...,Yes,Next Day Air,Yes,49,PayPal,Weekly,Young Adult,77.2290,8091.6660,67.4910
4,5,45,Male,Blouse,Clothing,49,Oregon,M,Turquoise,Spring,...,Yes,Free Shipping,Yes,31,PayPal,Annually,Middle-aged,42.0469,4405.4626,36.7451
5,6,46,Male,Sneakers,Footwear,20,Wyoming,M,White,Summer,...,Yes,Standard,Yes,14,Venmo,Weekly,Middle-aged,17.1620,1798.1480,14.9980
6,7,63,Male,Shirt,Clothing,85,Montana,M,Gray,Fall,...,Yes,Free Shipping,Yes,49,Cash,Quarterly,Senior,72.9385,7642.1290,63.7415
7,8,27,Male,Shorts,Clothing,34,Louisiana,L,Charcoal,Winter,...,Yes,Free Shipping,Yes,19,Credit Card,Weekly,Young Adult,29.1754,3056.8516,25.4966
8,9,26,Male,Coat,Outerwear,97,West Virginia,L,Silver,Summer,...,Yes,Express,Yes,8,Venmo,Annually,Young Adult,83.2357,8721.0178,72.7403
9,10,57,Male,Handbag,Accessories,31,Missouri,M,Pink,Spring,...,Yes,2-Day Shipping,Yes,4,Cash,Quarterly,Middle-aged,26.6011,2787.1294,23.2469

In [56]:
!pip install pymysql sqlalchemy

Collecting pymysql
  Downloading pymysql-1.1.2-py3-none-any.whl.metadata (4.3 kB)
Requirement already satisfied: sqlalchemy in c:\users\lenovo\anaconda3\lib\site-packages (2.0.39)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\lenovo\anaconda3\lib\site-packages (from sqlalchemy) (3.1.1)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\lenovo\anaconda3\lib\site-packages (from sqlalchemy) (4.12.2)
Downloading pymysql-1.1.2-py3-none-any.whl (45 kB)
Installing collected packages: pymysql
Successfully installed pymysql-1.1.2

In [59]:
from sqlalchemy import create_engine

# MySQL connection
username = "root"
password = "Sql%402025%21Root"
host = "localhost"
port = "3307"
database = "customer_behavior"

engine = create_engine(f"mysql+pymysql://{username}:{password}@{host}:{port}/{database}")

# Write DataFrame to MySQL
table_name = "customer"   # choose any table name
df.to_sql(table_name, engine, if_exists="replace", index=False)

# Read back sample
pd.read_sql("SELECT * FROM customer LIMIT 5;", engine)

,customer_id,age,gender,item_purchased,category,purchase_amount,location,size,color,season,...,subscription_status,shipping_type,discount_applied,previous_purchases,payment_method,frequency_of_purchases,age_group,Purchase_EUR,Purchase_INR,Purchase_GBP
0,1,55,Male,Blouse,Clothing,53,Kentucky,L,Gray,Winter,...,Yes,Express,Yes,14,Venmo,Fortnightly,Middle-aged,45.4793,4765.0922,39.7447
1,2,19,Male,Sweater,Clothing,64,Maine,L,Maroon,Winter,...,Yes,Express,Yes,2,Cash,Fortnightly,Young Adult,54.9184,5754.0736,47.9936
2,3,50,Male,Jeans,Clothing,73,Massachusetts,S,Maroon,Spring,...,Yes,Free Shipping,Yes,23,Credit Card,Weekly,Middle-aged,62.6413,6563.2402,54.7427
3,4,21,Male,Sandals,Footwear,90,Rhode Island,M,Maroon,Spring,...,Yes,Next Day Air,Yes,49,PayPal,Weekly,Young Adult,77.2290,8091.6660,67.4910
4,5,45,Male,Blouse,Clothing,49,Oregon,M,Turquoise,Spring,...,Yes,Free Shipping,Yes,31,PayPal,Annually,Middle-aged,42.0469,4405.4626,36.7451